{
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": [
        "src/resources/dd.ts",
        "src/services/timelineSpecialRules.ts"
      ],
      "options": {
        "printWidth": 1000
      }
    }
  ]
}