  .el-select-dropdown__item {
      padding: 0 6px !important;
      min-height: 28px !important;
      height: 28px !important;
      line-height: 28px !important;
      font-size: 12.5px !important;
  }

  .el-select-dropdown__list {
      padding: 2px 0 !important;
  }