.job {
  color: white;
}
.gladiator {
  text-shadow: -1px 0 1.5px rgb(123, 154, 162), 0 1.5px 1.5px rgb(123, 154, 162), 1px 0 1.5px rgb(123, 154, 162), 0 -1.5px 1.5px rgb(123, 154, 162);
}
.pugilist {
  text-shadow: -1px 0 1.5px rgb(179, 137, 21), 0 1.5px 1.5px rgb(179, 137, 21), 1px 0 1.5px rgb(179, 137, 21), 0 -1.5px 1.5px rgb(179, 137, 21);
}
.marauder {
  text-shadow: -1px 0 1.5px rgb(169, 26, 22), 0 1.5px 1.5px rgb(169, 26, 22), 1px 0 1.5px rgb(169, 26, 22), 0 -1.5px 1.5px rgb(169, 26, 22);
}
.lancer {
  text-shadow: -1px 0 1.5px rgb(55, 82, 216), 0 1.5px 1.5px rgb(55, 82, 216), 1px 0 1.5px rgb(55, 82, 216), 0 -1.5px 1.5px rgb(55, 82, 216);
}
.archer {
  text-shadow: -1px 0 1.5px rgb(145, 186, 94), 0 1.5px 1.5px rgb(145, 186, 94), 1px 0 1.5px rgb(145, 186, 94), 0 -1.5px 1.5px rgb(145, 186, 94);
}
.conjurer {
  text-shadow: -1px 0 1.5px rgb(95, 95, 95), 0 1.5px 1.5px rgb(95, 95, 95), 1px 0 1.5px rgb(95, 95, 95), 0 -1.5px 1.5px rgb(95, 95, 95);
}
.thaumaturge {
  text-shadow: -1px 0 1.5px rgb(103, 69, 152), 0 1.5px 1.5px rgb(103, 69, 152), 1px 0 1.5px rgb(103, 69, 152), 0 -1.5px 1.5px rgb(103, 69, 152);
}
.paladin {
  text-shadow: -1px 0 1.5px rgb(123, 154, 162), 0 1.5px 1.5px rgb(123, 161, 162), 1px 0 1.5px rgb(123, 154, 162), 0 -1.5px 1.5px rgb(123, 154, 162);
}
.monk {
  text-shadow: -1px 0 1.5px rgb(179, 137, 21), 0 1.5px 1.5px rgb(179, 137, 21), 1px 0 1.5px rgb(179, 137, 21), 0 -1.5px 1.5px rgb(179, 137, 21);
}
.warrior {
  text-shadow: -1px 0 1.5px rgb(169, 26, 22), 0 1.5px 1.5px rgb(169, 26, 22), 1px 0 1.5px rgb(169, 26, 22), 0 -1.5px 1.5px rgb(169, 26, 22);
}
.dragoon {
  text-shadow: -1px 0 1.5px rgb(55, 82, 216), 0 1.5px 1.5px rgb(55, 82, 216), 1px 0 1.5px rgb(55, 82, 216), 0 -1.5px 1.5px rgb(55, 82, 216);
}
.bard {
  text-shadow: -1px 0 1.5px rgb(145, 186, 94), 0 1.5px 1.5px rgb(145, 186, 94), 1px 0 1.5px rgb(145, 186, 94), 0 -1.5px 1.5px rgb(145, 186, 94);
}
.whitemage {
  text-shadow: -1px 0 1.5px rgb(95, 95, 95), 0 1.5px 1.5px rgb(95, 95, 95), 1px 0 1.5px rgb(95, 95, 95), 0 -1.5px 1.5px rgb(95, 95, 95);
}
.blackmage {
  text-shadow: -1px 0 1.5px rgb(103, 69, 152), 0 1.5px 1.5px rgb(103, 69, 152), 1px 0 1.5px rgb(103, 69, 152), 0 -1.5px 1.5px rgb(103, 69, 152);
}
.arcanist {
  text-shadow: -1px 0 1.5px rgb(50, 103, 11), 0 1.5px 1.5px rgb(50, 103, 11), 1px 0 1.5px rgb(50, 103, 11), 0 -1.5px 1.5px rgb(50, 103, 11);
}
.summoner {
  text-shadow: -1px 0 1.5px rgb(50, 103, 11), 0 1.5px 1.5px rgb(50, 103, 11), 1px 0 1.5px rgb(50, 103, 11), 0 -1.5px 1.5px rgb(50, 103, 11);
}
.scholar {
  text-shadow: -1px 0 1.5px rgb(50, 48, 123), 0 1.5px 1.5px rgb(50, 48, 123), 1px 0 1.5px rgb(50, 48, 123), 0 -1.5px 1.5px rgb(50, 48, 123);
}
.rogue {
  text-shadow: -1px 0 1.5px rgb(238, 46, 72), 0 1.5px 1.5px rgb(238, 46, 72), 1px 0 1.5px rgb(238, 46, 72), 0 -1.5px 1.5px rgb(238, 46, 72);
}
.ninja {
  text-shadow: -1px 0 1.5px rgb(238, 46, 72), 0 1.5px 1.5px rgb(238, 46, 72), 1px 0 1.5px rgb(238, 46, 72), 0 -1.5px 1.5px rgb(238, 46, 72);
}
.machinist {
  text-shadow: -1px 0 1.5px rgb(20, 138, 169), 0 1.5px 1.5px rgb(20, 138, 169), 1px 0 1.5px rgb(20, 138, 169), 0 -1.5px 1.5px rgb(20, 138, 169);
}
.darkknight {
  text-shadow: -1px 0 1.5px rgb(104, 37, 49), 0 1.5px 1.5px rgb(104, 37, 49), 1px 0 1.5px rgb(104, 37, 49), 0 -1.5px 1.5px rgb(104, 37, 49);
}
.astrologian {
  text-shadow: -1px 0 1.5px rgb(177, 86, 28), 0 1.5px 1.5px rgb(177, 86, 28), 1px 0 1.5px rgb(177, 86, 28), 0 -1.5px 1.5px rgb(177, 86, 28);
}
.samurai {
  text-shadow: -1px 0 1.5px rgb(228, 90, 15), 0 1.5px 1.5px rgb(228, 90, 15), 1px 0 1.5px rgb(228, 90, 15), 0 -1.5px 1.5px rgb(228, 90, 15);
}
.redmage {
  text-shadow: -1px 0 1.5px rgb(172, 41, 151), 0 1.5px 1.5px rgb(172, 41, 151), 1px 0 1.5px rgb(172, 41, 151), 0 -1.5px 1.5px rgb(172, 41, 151);
}
.bluemage {
  text-shadow: -1px 0 1.5px rgb(24, 61, 154), 0 1.5px 1.5px rgb(24, 61, 154), 1px 0 1.5px rgb(24, 61, 154), 0 -1.5px 1.5px rgb(24, 61, 154);
}
.gunbreaker {
  text-shadow: -1px 0 1.5px rgb(121, 109, 48), 0 1.5px 1.5px rgb(121, 109, 48), 1px 0 1.5px rgb(121, 109, 48), 0 -1.5px 1.5px rgb(121, 109, 48);
}
.dancer {
  text-shadow: -1px 0 1.5px rgb(139, 110, 110), 0 1.5px 1.5px rgb(139, 110, 110), 1px 0 1.5px rgb(139, 110, 110), 0 -1.5px 1.5px rgb(139, 110, 110);
}
.reaper {
  text-shadow: -1px 0 1.5px rgb(76, 25, 76), 0 1.5px 1.5px rgb(76, 25, 76), 1px 0 1.5px rgb(76, 25, 76), 0 -1.5px 1.5px rgb(76, 25, 76);
}
.sage {
  text-shadow: -1px 0 1.5px rgb(52, 81, 160), 0 1.5px 1.5px rgb(52, 81, 160), 1px 0 1.5px rgb(52, 81, 160), 0 -1.5px 1.5px rgb(52, 81, 160);
}
