h5[data-v-70edde26]{font-family:emoji;font-size:large;color:#fefefd;text-shadow:-1px 0 3px rgb(179,137,21),0 1px 3px rgb(179,137,21),1px 0 3px rgb(179,137,21),0 -1px 3px rgb(179,137,21);text-align:end;overflow:hidden;padding:3px;margin:0}
