.no-border[data-v-7e3139ac] .el-input__wrapper{box-shadow:none!important;background:transparent!important;padding:0 8px}.no-border[data-v-7e3139ac] .el-input__wrapper:hover{background:var(--el-fill-color-light)!important}
